REPOSCAN_ENV=local
REPOSCAN_REGION=us
REPOSCAN_TIMEZONE=America/Los_Angeles

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=reposcan
POSTGRES_USER=reposcan
POSTGRES_PASSWORD=reposcan_local

REDIS_HOST=localhost
REDIS_PORT=6379

MEDIA_ROOT=./media
ARTIFACT_ROOT=./artifacts
DATA_ROOT=./data
MODEL_CONFIG_ROOT=./configs/models
CAMERA_CONFIG_ROOT=./configs/cameras

GPS_PROVIDER=mock
HOTLIST_REFRESH_MODE=local
SYNC_ENABLED=false
SYNC_ENDPOINT=
SYNC_API_KEY=

